@import "../../global/styles/global";

.corp-main-img {
  background-image: url("../../assets/img/dmc-cover.png");
}

.glide__slide {
  border: 1px solid black;
  line-height: 100px;
  margin: 0;
  text-align: center;
}

.glide_img {
  width: 100%;
  height: 100px;
}
