<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/venntourlogo.png"
      type="image/x-icon"
    />
    <title>Mice</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main>
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-mice">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@balkans.com"
              class="transition duration-500 ease-in-out hover:bg-red-500 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full"
              style="background-color: #ee2930"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <div class="mt-12 mb-12 px-4 md:px-10">
        <div class="grid gap-6 md:gap-10 grid-cols-2 md:grid-cols-6">
          <div class="flex flex-col items-center">
            <img
              src="assets/img/mice_images/mice_icon_1.png"
              alt="Etkinlik Planlama"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Etkinlik Planlama
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img src="assets/img/mice_images/mice_icon_2.png" alt="Tasarım" />
            <h3 class="font-semibold text-icon mt-5 text-center">Tasarım</h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              src="assets/img/mice_images/mice_icon_3.png"
              alt="Doğrudan Pazarlama"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Doğrudan Pazarlama
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              src="assets/img/mice_images/mice_icon_4.png"
              alt="Dijital Etkinlikler"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Dijital Etkinlikler
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img src="assets/img/mice_images/mice_icon_5.png" alt="Strateji" />
            <h3 class="font-semibold text-icon mt-5 text-center">Strateji</h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              src="assets/img/mice_images/mice_icon_6.png"
              alt="Prodüksiyon"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Prodüksiyon
            </h3>
          </div>
        </div>
      </div>

      <div class="container mx-auto mt-24 mb-12 px-4 md:px-0">
        <div class="pt-10 pb-36 flex items-center justify-center">
          <img class="w-42" src="assets/img/page_names/venn_tour_mice.png" />
        </div>
      </div>

      <div class="bg-calendar">
        <div class="container mx-auto px-4 md:px-0">
          <div class="flex flex-wrap items-center justify-between">
            <div class="w-full md:w-2/3 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Etkinlik Planlama
              </h4>

              <p class="mb-2 text-content">Hedef Konu için Konsept Tasarımı</p>
              <p class="mb-2 text-content">İçerik ve Akış Yönetimi</p>
              <p class="mb-2 text-content">Lansman Toplantıları</p>
              <p class="mb-2 text-content">Workshop</p>
              <p class="mb-2 text-content">İç İletişim Etkinlikleri</p>
            </div>
            <div class="w-full md:w-1/3 flex">
              <img src="assets/img/mice_images/mice_1.png" alt="Daily Tours" />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 flex">
              <img src="assets/img/mice_images/mice_2.png" alt="Tasarım" />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Tasarım
              </h4>
              <p class="mb-2 text-content">Logo ve Kurumsal Kimlik</p>
              <p class="mb-2 text-content">Basılı Medya</p>
              <p class="mb-2 text-content">Görsel Medya</p>
              <p class="mb-2 text-content">Dijital Medya</p>
              <p class="mb-2 text-content">Sahne ve Stand</p>
              <p class="mb-2 text-content">POP Tasarım ve Uygulama</p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-outline">
        <div class="container mx-auto px-4 md:px-0">
          <div class="flex flex-wrap mb-6 items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Doğrudan Pazarlama
              </h4>

              <p class="mb-2 text-content">Fuar Etkinliği</p>
              <p class="mb-2 text-content">Roadshow</p>
              <p class="mb-2 text-content">Gerilla Aktiviteler</p>
              <p class="mb-2 text-content">İçerik Planlama</p>
              <p class="mb-2 text-content">Pazarlama Stratejileri</p>
              <p class="mb-2 text-content">İletişim Çözümler</p>
            </div>
            <div class="w-full md:w-1/3 flex">
              <img
                src="assets/img/mice_images/mice_3.png"
                alt="Customized Tours"
              />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 flex">
              <img
                src="assets/img/mice_images/mice_4.png"
                alt="Dijital Etkinlikler"
              />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Dijital Etkinlikler
              </h4>

              <p class="mb-2 text-content">İçerik Oluşturma</p>
              <p class="mb-2 text-content">Dijital Çözümler</p>
              <p class="mb-2 text-content">Dijital Medya Planlama</p>
              <p class="mb-2 text-content">Online ve Offline Hizmetler</p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-prod">
        <div class="container mx-auto px-4 md:px-0">
          <div class="flex flex-wrap mb-6 items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Strateji
              </h4>

              <p class="mb-2 text-content">Hedef Kitle Analizleri</p>
              <p class="mb-2 text-content">Marka Strateji ve Konumlandırma</p>
              <p class="mb-2 text-content">İş Modelleme</p>
            </div>
            <div class="w-full md:w-1/3 flex">
              <img src="assets/img/mice_images/mice_5.png" alt="Strateji" />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 flex">
              <img src="assets/img/mice_images/mice_6.png" alt="Prodüksiyon" />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
                Prodüksiyon
              </h4>

              <p class="mb-2 text-content">Video Maping</p>
              <p class="mb-2 text-content">Açılış Fimler</p>
              <p class="mb-2 text-content">İnteraktif Video İçerikler</p>
              <p class="mb-2 text-content">Tanıtım Filmler</p>
            </div>
          </div>
        </div>
      </div>

      <%- include('../../views/get_info', {email: 'info@mice.com'}); %>
    </main>
    <%- include('../../views/footer'); %>
  </body>
</html>
