@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");
@import "../../assets/fonts/stylesheet.css";

html {
  scroll-behavior: smooth;
}

// Footer
.footer {
  display: flex;
  align-items: center;
  min-height: 130px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

.social-media-icons {
  display: flex;
  flex-wrap: nowrap;

  a {
    margin-right: 20px;
  }
}

.address {
  color: #808080;
  font-size: 18px;
}

body {
  font-family: "Gilroy";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
}

.icon-bg {
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

.text-icon {
  white-space: nowrap;
}
