<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/img/venntourlogo.png" type="image/x-icon">
    <title>Balkans</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main>
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-balkans">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@balkans.com"
              class="transition duration-500 ease-in-out hover:bg-red-500 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full"
              style="background-color: #ee2930"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <div class="container mx-auto mt-12 mb-12">
        <div
          class="grid gap-6 md:gap-10 grid-cols-2 md:grid-cols-3 lg:grid-cols-6"
        >
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/otobüsturları.png"
              alt="Otobüslü Turlar"
            />
            <h3 class="font-semibold xl:whitespace-nowrap text-icon text-center mt-5">
              Otobüslü Turlar
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/ucakliturlar.png"
              alt="Uçaklı Turlar"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Uçaklı Turlar
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/gemiturlari.png"
              alt="Gemi Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Gemi Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/nehirturlari.png"
              alt="Nehir Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Nehir Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/dalisturlari.png"
              alt="Dalış Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Dalış Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/kayakturlari.png"
              alt="Kayak Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Kayak Turları
            </h3>
          </div>
        </div>
      </div>

      <div class="pt-10 pb-36 flex items-center justify-center">
        <img class="w-34" src="assets/img/page_names/venn_tour_balkans.png"/>
      </div>
      <div class="bg-plane">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Otobüslü Turlar
              </h4>
              <p class="mb-2 text-content">
                Otobüslü Balkan turlarının en ayrıcalıklı kısmı Türkiye’den
                itibaren tüm gezi rotası boyunca birçok ülke görülebilecek
                olmasıdır. Her turun kapsamı ve süresi birbirinden farklı
                olmakla birlikte otobüslü turlarda ülke çıkışları Yunanistan ya
                da Bulgaristan üzerinden yapıldığı için geçerli vizeniz olması
                gerekir.
              </p>
            </div>
            <div class="w-full md:w-1/3 ">
              <img src="assets/img/otobuslu-turlar.png" alt="Otobüslü Turlar" />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 ">
              <img src="assets/img/ucakli-turlar.png" alt="Uçaklı Turlar" />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Uçaklı Turlar
              </h4>
              <p class="mb-2 text-content">
                Uçaklı Balkan turlarında uçakla yola çıkıp, gezi rotasında
                bulunan diğer ülkelere karayolu ile geçiş sağlayabileceksiniz.
                Uçaklı turlara dahil olan ülkelerin bazıları vize istemezken,
                bazıları ise T.C vatandaşlarından vize istemektedir. Vizeli ve
                vizesiz olan Balkan ülkeleri için buraya tıklayabilirsiniz.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-ship">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap mb-6 items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Gemi Turları
              </h4>
              <p class="mb-2 text-content">
                Gemi turları arasında sıklıkla tercih edilen rotalardan biri
                olan Adriyatik Denizi gemi turları ile İtalya ve Balkan
                Yarımadası arasında kalan Adriyatik Denizi’nin muhteşem
                koylarında yolculuk yapabilir ve her sabah farklı bir limanda
                uyanabilirsiniz.
              </p>
            </div>
            <div class="w-full md:w-1/3 ">
              <img src="assets/img/gemi-turlari.png" alt="Gemi Turları" />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 ">
              <img src="assets/img/dalis-turlari.png" alt="Dalış Turları" />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Dalış Turları
              </h4>
              <p class="mb-2 text-content">
                Avrupa’nın en iyi dalış noktalarından biri olarak kabul edilen
                Losinj Sualtı Parkı (Hırvatistan) başta olmak üzere özellikle
                Karadağ ve Hırvatistan’da birçok dalış noktası bulunmaktadır.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-ski">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap mb-6 items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Kayak Turları
              </h4>
              <p class="mb-2 text-content">
                1984 Kış Olimpiyatlarına ev sahipliği yapmış olan Jahorina’dan
                (Bosna - Hersek), farklı uzunluk ve zorluktaki pistleriyle hem
                yeni başlayanlar hem de orta ve ileri derecedeki kayakçılar için
                ideal olan Kolašin’e (Karadağ) ve Mavrovo National Park’ının
                içinde yer alan Mavrovo Kayak Merkezi’ne (Makedonya) kadar kayak
                tatili için Balkanlarda birçok alternatif mevcut.
              </p>
            </div>
            <div class="w-full md:w-1/3 ">
              <img src="assets/img/kayak-turlari.png" alt="Kayak Turları" />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 ">
              <img
                src="assets/img/aktivite-turlari.png"
                alt="
                Aktivite Turları"
              />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Aktivite Turları
              </h4>
              <ul class="text-content list-disc list-inside">
                <li>Kitesurfing</li>
                <li>Rafting</li>
                <li>ATV</li>
                <li>Trekking</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-skuba">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap mb-6 items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Balayı Paketleri
              </h4>
              <p class="mb-2 text-content">
                Balayını Balkan ülkelerinde geçirmek isteyen misafirlerimiz için
                tasarlanmış özel indirim ve sürprizlerden yararlanabilirsiniz.
              </p>
            </div>
            <div class="w-full md:w-1/3 ">
              <img
                src="assets/img/balayi-paketleri.png"
                alt="Balayı Paketleri"
              />
            </div>
          </div>
          <div
            class="flex flex-wrap-reverse mb-6 items-center justify-between md:mb-32"
          >
            <div class="w-full md:w-1/3 ">
              <img
                src="assets/img/festival-turlari.png"
                alt="Festival Turları"
              />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Festival Turları
              </h4>
              <p class="mb-2 text-content">
                Tüm Balkan ülkelerinde gerçekleşen dünyaca ünlü festivallere
                (Southern Soul, Exit, Sea Dance vb.) katılabilirsiniz. Turlar
                festival tarihlerine ve şehirlerine özel olarak yapılmaktadır.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-river">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap items-center justify-between">
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Tailor Made <br />
                (Kişiye özel turlar)
              </h4>
              <p class="mb-2 text-content">Kişiye özel seyahat tasarımı.</p>
            </div>
            <div class="w-full md:w-1/3 ">
              <img
                src="assets/img/tailor-made.png"
                alt="Tailor Made (Kişiye özel turlar)"
              />
            </div>
          </div>
          <div class="flex flex-wrap-reverse mb-6 items-center justify-between">
            <div class="w-full md:w-1/3 ">
              <img
                src="assets/img/kurumsal-etkinlikler.png"
                alt="Kurumsal Etkinlikler"
              />
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0">
              <h4
                class="font-semibold text-4xl md:text-bigTitle mb-3 text-center md:text-left"
              >
                Kurumsal Etkinlikler
              </h4>
              <p class="mb-2 text-content">
                Balkanlarda bulunan ofislerimiz ve güçlü MICE departmanımızla
                tüm kurumsal etkinliklerinizi, team building aktivitelerinizi
                size ve şirketinize özel olarak gerçekleştiriyoruz.
              </p>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../views/get_info', {email: 'info@balkans.com'}); %>
    </main>
    <%- include('../../views/footer'); %>
  </body>
</html>
