@import "../../global/styles/global";

.bg-balkans {
  height: 510px;
  background-image: url("../../assets/img/nc-balkans-cover.png");
}

.tour-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  padding-left: 30px;
  padding-right: 50px;

  @media (min-width: 768px) {
    padding-left: 50px;
    grid-template-columns: 470px 1fr;
    padding-right: 50px;
    gap: 50px;
  }

  @media (min-width: 1024px) {
    padding-left: 150px;
    padding-right: 150px;
    gap: 135px;
  }
}

.tour-card {
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;
  border-width: 1px;
  opacity: 0.5;

  @media (min-width: 768px) {
    min-height: 200px;
    margin-bottom: 40px;
  }
}

.border-table {
  th,
  td {
    border: 1px solid #cccc;
  }
}

.open {
  background-color: #f9f9f9;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  overflow-y: auto;
  display: block;
  position: fixed;
  width: 100vw;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.active-tour {
  opacity: 1 !important;
}
