// you can use tailwind here, e.g. @apply

// you can import global styles too
@import "../../global/styles/global";

.home__banner {
  overflow: hidden;
  max-width: 100%;

  &-item {
    width: calc(20% - 5px);
    height: calc(100vh - 115px);
    position: relative;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      .image_after {
        width: 33%;
      }
      .image_before {
        width: 33%;
      }
    }

    .image_after {
      position: absolute;
      background-size: cover;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: 9;
      transition: all 2s ease-in;
    }
    .image_before {
      @extend .image_after;
      right: 0;
      left: unset;
    }

    &1 {
      > div {
        background-image: url("../../assets/img/nc-travel-5s.jpg");
      }
    }
    &2 {
      > div {
        background-image: url("../../assets/img/nc-dmc-5s.jpg");
      }
    }
    &3 {
      > div {
        background-image: url("../../assets/img/nc-mice-5s.jpg");
      }
    }
    &4 {
      > div {
        background-image: url("../../assets/img/nc-corp-5s.jpg");
      }
    }
    &5 {
      > div {
        background-image: url("../../assets/img/nc-balkans-5s.jpg");
      }
    }

    &_band {
      display: flex;
      align-items: flex-end;
      height: 100%;
      width: 100%;

      img {
        margin-bottom: 30px;
        width: 121px;
      }
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.mobile__slider {
  &1 {
    > div {
      background-image: url("../../assets/img/nc-travel-5s.jpg");
    }
  }
  &2 {
    > div {
      background-image: url("../../assets/img/nc-dmc-5s.jpg");
    }
  }
  &3 {
    > div {
      background-image: url("../../assets/img/nc-mice-5s.jpg");
    }
  }
  &4 {
    > div {
      background-image: url("../../assets/img/nc-corp-5s.jpg");
    }
  }
  &5 {
    > div {
      background-image: url("../../assets/img/nc-balkans-5s.jpg");
    }
  }
}

.home__plane {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 150px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 2s;
    transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: scale(1.1);
  }

  /* Grow */
  .grow-main {
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 2s;
    transition-property: width;
  }

  .grow-main:hover,
  .grow-main:focus,
  .grow-main:active {
    width: 50%;
    z-index: 5;
  }
}

.white-hollow {
  background-image: url("../../assets/img/nc-gradient.png");
  background-size: cover;
  background-position: bottom;
}

.quotation {
  font-family: 'Abhaya Libre';
  &:before,
  &:after {
    content: '"';
    font-size: 80px;
    color: red;
    font-family: "Abhaya Libre";
  }
}

.chief-seattle {
  font-family: 'Felipa';
  font-size: 48px;
}

#circled-icon {
  width: 200px;
}
