// you can use tailwind here, e.g. @apply

// you can import global styles too
@import "../../global/styles/global";

.home__banner {
  overflow: hidden;
  max-width: 100%;

  &-item {
    width: calc(20% - 5px);
    height: 500px;
    position: relative;

    &:hover {
      .image_after {
        width: 33%;
      }
      .image_before {
        width: 33%;
      }
    }

    .image_after {
      position: absolute;
      background-size: cover;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: 9;
      transition: all 2s ease-in;
    }
    .image_before {
      @extend .image_after;
      right: 0;
    }

    &1 {
      > div {
        background-image: url("../../assets/img/Balkans/nc-balkan3.jpg");
      }

      .image_after {
        background-image: url("../../assets/img/Balkans/nc-balkan1.jpg");
        background-position-x: -106px;
      }
      .image_before {
        background-image: url("../../assets/img/Balkans/nc-balkan2.jpg");
        background-position-x: -100px;
      }
    }
    &2 {
      > div {
        background-image: url("../../assets/img/nc-item2.jpg");
      }
    }
    &3 {
      > div {
        background-image: url("../../assets/img/nc-item3.jpg");
      }
    }
    &4 {
      > div {
        background-image: url("../../assets/img/nc-item4.jpg");
      }
    }
    &5 {
      > div {
        background-image: url("../../assets/img/nc-item5.jpg");
      }
    }

    &_band {
      display: flex;
      align-items: center;
      height: 80px;
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.mobile__slider {
  &1 {
    > div {
      background-image: url("../../assets/img/nc-item1.jpg");
    }
  }
  &2 {
    > div {
      background-image: url("../../assets/img/nc-item2.jpg");
    }
  }
  &3 {
    > div {
      background-image: url("../../assets/img/nc-item3.jpg");
    }
  }
  &4 {
    > div {
      background-image: url("../../assets/img/nc-item4.jpg");
    }
  }
  &5 {
    > div {
      background-image: url("../../assets/img/nc-item5.jpg");
    }
  }
}

.home__plane {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 150px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 2s;
    transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: scale(1.1);
  }

  /* Grow */
  .grow-main {
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 2s;
    transition-property: width;
  }

  .grow-main:hover,
  .grow-main:focus,
  .grow-main:active {
    width: 50%;
    z-index: 5;
  }
}
