<footer class="footer py-5 md:py-5">
  <div
    class="container mx-auto flex items-center justify-between flex-col md:flex-row px-6 md:px-0"
  >
    <div class="social-media-icons flex flex-col">
      <div class="flex">
        <a href="https://www.instagram.com/venntourtr/" target="_blank">
          <img src="assets/img/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://twitter.com/venntourtr" target="_blank">
          <img src="assets/img/twitter.svg" alt="Twitter" />
        </a>
        <a target="_blank" href="https://tr.linkedin.com/company/venn-tour-turkey?trk=similar-pages_result-card_full-click">
          <img src="assets/img/linkedin.svg" alt="Linkedin" />
        </a>
      </div>
      <div class="pt-2">
        <a
          class="md:hidden"
          target="_blank"
          rel="noreferrer"
          href="assets/documents/privacy-policy.pdf"
          >Gizlilik Politikası</a
        >
        <a
          class="privacy-policy md:inline-block hidden"
          data-micromodal-trigger="modal-1"
          >Gizlilik Politikası</a
        >
      </div>
    </div>
    <a href="https://www.tursab.org.tr" class="py-3 md:py-0">
      <img src="assets/img/turksab.png" alt="Turksab" />
    </a>
    <div>
      <p class="address">
        Cumhuriyet, Bomonti Business Center, Yeniyol Sk.<br />
        No:8, 34380 Şişli
      </p>
      <div class="flex space-x-4" style="color: #808080;">
        <p>info@venntour.com</p>
        <p>+90 212 580 83 66</p>
      </div>
    </div>
  </div>
  <%- include('./privacy-modal'); %>
</footer>
