<div class="w-full border-t-0 border-r-0 border-left-0">
  <div class="h-16"></div>
  <div class="absolute top-0 left-0 w-full">
    <div class="w-full fixed z-20 bg-white shadow h-16">
      <div class="container relative mx-auto">
        <div class="absolute flex flex-row justify-center w-full left-0 top-12">
          <div class="-mt-6">
            <a href="/metropol-turizm">
              <img
                class="w-24 shadow"
                src="assets/img/venntourlogo.png"
                alt="venntour logo"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
