<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/venntourlogo.png"
      type="image/x-icon"
    />
    <title>TRAVEL</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main class="overflow-hidden relative">
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-travel">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@travel.com"
              class="transition duration-500 ease-in-out hover:bg-red-500 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full"
              style="background-color: #ee2930"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <div class="container mx-auto mt-24 mb-12 px-4 md:px-0 travel-text">
        <div class="bg-pattern bg-ship"></div>
        <div class="bg-pattern bg-ski"></div>
        <div class="bg-pattern bg-plane"></div>
        <div class="pt-10 pb-36 flex items-center justify-center">
          <img class="w-48" src="assets/img/page_names/venn_tour_travel.png" />
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <p class="text-content mb-6">Değerli Misafirlerimiz,</p>
          <p class="text-content">
            Hepinizin seyahat etmeyi çok özlediğinizi biliyoruz. Biz bu zor
            günlerin en kısa süre içerisinde geçeceğine olan inancımız ile
            sizler için durmadan çalışıyor, profesyonel ekibimiz ve uzman rehber
            kadromuzla misafir memnuniyetini en üst düzeyde tutarak, en geniş
            ürün yelpazesi ile ve standartların ötesine geçecek ufak
            dokunuşlarımız ile gerçekleştireceğimiz yurtdışı paket turlarımızı
            hazırlıyoruz. Yeni turlarımızı öyle uzun uzun anlatmak yerine
            şimdilik özetlemek istedik.
          </p>

          <p class="mt-6 text-content">
            Venn Tour Türkiye olarak 2021’de sizlere;
          </p>
        </div>
        <div class="flex items-center">
          <ul class="mb-2 mt-12 ml-10">
            <li>Biraz Sıradışı,</li>
            <li>Bazen Maceracı,</li>
            <li>İsterseniz Keşfedilmemiş,</li>
            <li>Çokca Kültürel,</li>
            <li>Oldukça Tematik,</li>
            <li>Zaman Zaman Fantastik,</li>
            <li>Çok Lezzetli,</li>
            <li>Bazen Yakın,</li>
            <li>Biraz Uzak turlar hazırlıyoruz...</li>
          </ul>
        </div>
      </div>
      <%- include('../../views/get_info', {email: 'info@travel.com'}); %>
    </main>
    <%- include('../../views/footer'); %>
  </body>
</html>
