<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRAVEL</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main>
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-travel">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@travel.com"
              class="transition duration-500 ease-in-out hover:bg-red-500 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full"
              style="background-color: #ee2930"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>


      <div class="container mx-auto mt-24 mb-12 px-4 md:px-0">
        <div class="pt-10 pb-36 flex items-center justify-center">
          <img class="w-48" src="assets/img/page_names/venn_tour_travel.png"/>
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <div class="w-full md:w-1/2 mt-6 md:mt-0">
            
            <p class="mb-2 text-content">
              Venn Travel olarak profesyonel ekibimiz ve uzman rehber kadromuzla misafir memnuniyetini en üst düzeyde tutarak, en geniş ürün yelpazesi ile ve standartların ötesine geçecek ufak dokunuşlarımız ile gerçekleştireceğimiz yurtdışı paket turlarımız çok yakında sizlerle.
            </p>
          </div>
          <div class="w-full md:w-1/3 flex justify-center">
            <img src="../../assets/img/dailytours-img.png" alt="Daily Tours" />
          </div>
        </div>
        <div
          class="flex flex-wrap-reverse items-center justify-between md:mb-32"
        >
          <div class="w-full md:w-1/3 flex justify-center">
            <img
              src="../../assets/img/packagetours-img.png"
              alt="Package Tours"
            />
          </div>
          <div class="w-full md:w-1/2 mt-6 md:mt-0">
            <h4 class="font-semibold text-4xl md:text-bigTitle mb-3">
              Ürünlerimiz
            </h4>
            <p class="mb-2">
             
              <ul>
                <li class="text-content">
                  Avrupa Turları
                </li>
                <li class="text-content">
                  Uzakdoğu Turları
                </li>
                <li class="text-content">
                  Asya Turları
                </li>
                <li class="text-content">
                  Afrika Turları
                </li>
                <li class="text-content">
                  Güney Amerika Turları
                </li>
                <li class="text-content">
                  Tematik Turlar
                </li>
                <li class="text-content">
                  Exclusive Turlar
                </li>
              </ul>
            </p>
          </div>
        </div>

      </div>
      <%- include('../../views/get_info', {email: 'info@travel.com'}); %>
    </main>
    <%- include('../../views/footer'); %>
  </body>
</html>
