<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/venntourlogo.png"
      type="image/x-icon"
    />
    <title>Travel Outgoing Tours</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main id="app">
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-travel">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@travel.com"
              class="transition duration-500 ease-in-out transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-travelYellow"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <div class="py-20 flex items-center justify-center">
        <img class="w-48" src="assets/img/page_names/venn_tour_travel.png" id="_detail_start"/>
      </div>

      <div class="tour-detail">
        <div
          class="hidden md:block"
          :class="{ open: showDrawer }"
          id="left-scroll-div"
        >
          <a
            class="tour-card flex rounded-lg border- border-gray-200"
            v-for="(tour, index) in tourData"
            :key="index"
            :data-key="index"
            @click="selectTour(index)"
            href="#_detail_start"
          >
            <img
              class="w-full object-cover h-24"
              :src="'assets/img/tour-details/travel-outgoing-images/' + index + '.png'"
            />
            <div class="p-2 flex flex-col justify-between">
              <h3 class="text-lg md:text-xl font-bold">{{ tour.mainTitle }}</h3>
              <div>
                <h4
                  class="text-sm md:text-base font-bold text-travelYellow uppercase"
                >
                  {{ tour.location }}
                </h4>
                <p
                  class="text-sm md:text-base mt-2"
                  style="text-align: left !important"
                >
                  {{ tour.tldr }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- Mobile -->
        <div class="md:hidden fixed bottom-5 right-5">
          <button
            @click="toggleDrawer"
            class="transition duration-500 ease-in-out bg-travelYellow text-white font-semibold py-3 px-6 rounded-full"
          >
            {{ showDrawer ? "Kapat" : "Diğer Turlar" }}
          </button>
        </div>

        <div>
          <h1 class="font-bold text-3xl lg:text-5xl mb-4">
            {{ selectedTour.mainTitle }}
          </h1>
          <h4 class="font-bold text-3xl text-travelYellow">
            {{ selectedTour.subTitle }}
          </h4>
          <h5 class="font-bold text-2xl text-travelYellow mb-8">
            {{ selectedTour.dates }}
          </h5>
          <div
            v-if="selectedTour.days.length"
            v-for="(day, index) in selectedTour.days"
            :key="index"
          >
            <h2 class="font-bold text-3xl mt-5">{{ day.title }}</h2>
            <h4 class="font-bold text-travelYellow uppercase">
              {{ day.subTitle }}
            </h4>
            <p class="my-2">{{ day.content }}</p>
            <ul v-if="day.breakfast">
              <li><b>Sabah Kahvaltası: </b>{{ day.breakfast }}</li>
              <li><b>Öğle Yemeği: </b>{{ day.lunch }}</li>
              <li><b>Akşam Yemeği: </b>{{ day.dinner }}</li>
              <li><b>Para Birimleri: </b>{{ day.currency }}</li>
            </ul>
          </div>

          <table class="table-fixed border-table text-center w-full my-10">
            <tbody>
              <tr
                v-for="(price, index) in selectedTour.prices"
                :key="index"
                :class="{'font-bold': index % 2 === 0, 'bg-gray-100': index % 2 === 0}"
              >
                <td v-for="(prc, index) in price" :key="index">
                  {{ prc }}
                </td>
              </tr>
            </tbody>
          </table>

          <template
            v-if="selectedTour.includes && selectedTour.includes.length"
          >
            <h4 class="font-bold text-travelYellow uppercase mt-4">
              FİYATA DAHİL OLANLAR
            </h4>
            <ul class="list-inside list-disc ml-1">
              <li
                v-for="(include, index) in selectedTour.includes"
                :key="index"
              >
                {{ include }}
              </li>
            </ul>
          </template>

          <template
            v-if="selectedTour.excludes && selectedTour.excludes.length"
          >
            <h4 class="font-bold text-travelYellow uppercase mt-4">
              FİYATA DAHİL OLMAYANLAR
            </h4>
            <ul class="list-inside list-disc ml-1">
              <li
                v-for="(exclude, index) in selectedTour.excludes"
                :key="index"
              >
                {{ exclude }}
              </li>
            </ul>
          </template>

          <template v-if="selectedTour.general_infos">
            <h4 class="font-bold text-travelYellow uppercase mt-4">
              GENEL ŞARTLAR
            </h4>
            <ul class="list-inside ml-1">
              <li
                class="mt-2 text-justify"
                v-for="(info, index) in selectedTour.general_infos"
                :key="index"
              >
                {{ info }}
              </li>
            </ul>
          </template>

          <!-- TO DO button click => mailto and title 'll be selected tour title '-->
          <div class="bottom-6 flex justify-end w-full pt-6 pb-16 pr-64">
            <a
              href="mailto:info@balkans.com?subject=Selected Tour Title"
              class="transition duration-500 ease-in-out transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-travelYellow"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
