<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/venntourlogo.png"
      type="image/x-icon"
    />
    <title>Balkans Tours</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main id="app">
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-balkans">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@balkans.com"
              class="transition duration-500 ease-in-out hover:bg-green-700 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-balkanGreen"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <div class="mx-auto px-12 mt-12 mb-12">
        <div
          class="grid gap-6 md:gap-10 grid-cols-2 md:grid-cols-3 lg:grid-cols-6"
        >
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/otobüsturları.png"
              alt="Otobüslü Turlar"
            />
            <h3
              class="font-semibold xl:whitespace-nowrap text-icon text-center mt-5"
            >
              Otobüslü Turlar
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/ucakliturlar.png"
              alt="Uçaklı Turlar"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Uçaklı Turlar
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/gemiturlari.png"
              alt="Gemi Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Gemi Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/nehirturlari.png"
              alt="Nehir Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Nehir Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/dalisturlari.png"
              alt="Dalış Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Dalış Turları
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/balkans_icon/kayakturlari.png"
              alt="Kayak Turları"
            />
            <h3 class="font-semibold text-icon text-center mt-5">
              Kayak Turları
            </h3>
          </div>
        </div>
      </div>

      <div class="pt-10 pb-20 flex items-center justify-center">
        <img
          class="w-34"
          src="assets/img/page_names/venn_tour_balkans.png"
          id="_detail_start"
        />
      </div>

      <div class="tour-detail container mx-auto">
        <div
          class="hidden md:block"
          :class="{ open: showDrawer }"
          id="left-scroll-div"
        >
          <a
            class="tour-card flex rounded-lg border- border-gray-200"
            v-for="(tour, index) in tourData"
            :key="index"
            :data-key="index"
            @click="selectTour(index)"
            href="#_detail_start"
          >
            <img
              class="w-full object-cover h-32"
              :src="'assets/img/tour-details/balkan_tour_images/' + index + '.png'"
            />
            <div class="p-2 flex flex-col justify-between">
              <h3 class="text-lg md:text-xl font-bold">{{ tour.mainTitle }}</h3>
              <div>
                <h4
                  class="text-sm md:text-base font-bold text-balkanGreen uppercase"
                >
                  {{ tour.location }}
                </h4>
                <p
                  class="text-sm md:text-base"
                  style="text-align: left !important"
                >
                  {{ tour.tldr }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- Mobile -->
        <div class="md:hidden fixed bottom-5 right-5">
          <button
            @click="toggleDrawer"
            class="transition duration-500 ease-in-out bg-balkanGreen hover:bg-green-600 text-white font-semibold py-3 px-6 rounded-full"
          >
            {{ showDrawer ? "Kapat" : "Diğer Turlar" }}
          </button>
        </div>

        <div>
          <h1 class="font-bold text-3xl lg:text-5xl mb-4">
            {{ selectedTour.mainTitle }}
          </h1>
          <h4 class="font-bold text-2xl text-balkanGreen">
            {{ selectedTour.subTitle }}
          </h4>
          <h5 class="text-2xl mb-6">{{ selectedTour.location }}</h5>

          <!--months -->
          <template v-if="selectedTour.months && selectedTour.months.length">
            <div class="flex flex-wrap mt-16 mb-16 justify-between text-center">
              <div
                class="w-1/2 md:w-1/4 relative"
                v-for="(month, index) in selectedTour.months"
                :key="index"
              >
                <div v-if="index != 0" class="absolute top-4 left-0 h-32 md:border-l-2 border-balkanGreen border-dotted"></div>
                <h4 class="font-bold text-balkanGreen uppercase my-2">
                  {{ month.title }}
                </h4>
                <h5
                  v-if="month.dates.length"
                  v-for="(date, index) in month.dates"
                  :key="index"
                  class=" text-sm"
                >
                  {{ date }}
                </h5>
              </div>
            </div>
          </template>
          <div
            v-if="selectedTour.days.length"
            v-for="(day, index) in selectedTour.days"
            :key="index"
          >
            <h2 class="font-bold text-3xl">{{ day.title }}</h2>
            <h4 class="font-bold text-balkanGreen uppercase">
              {{ day.subTitle }}
            </h4>
            <p class="my-2">{{ day.text }}</p>
          </div>

          <template
            v-if="selectedTour.includes && selectedTour.includes.length"
          >
            <h4 class="font-bold text-balkanGreen uppercase mt-4">
              FİYATA DAHİL OLANLAR
            </h4>
            <ul class="list-inside list-disc ml-1">
              <li
                v-for="(include, index) in selectedTour.includes"
                :key="index"
              >
                {{ include }}
              </li>
            </ul>
          </template>

          <template
            v-if="selectedTour.excludes && selectedTour.excludes.length"
          >
            <h4 class="font-bold text-balkanGreen uppercase mt-4">
              FİYATA DAHİL OLMAYANLAR
            </h4>
            <ul class="list-inside list-disc ml-1">
              <li
                v-for="(exclude, index) in selectedTour.excludes"
                :key="index"
              >
                {{ exclude }}
              </li>
            </ul>
          </template>

          <div class="flex flex-wrap flex-col">
            <template
              v-if="selectedTour.hotel_prices && selectedTour.hotel_prices.length"
            >
              <table
                v-for="(hotel, index) in selectedTour.hotel_prices"
                :key="index"
                class="table-fixed border-table text-center w-full lg:w-1/2 mt-10 font-bold"
              >
                <thead>
                  <tr>
                    <th
                      colspan="2"
                      class="font-bold text-balkanGreen py-2 px-16"
                      style="height: auto"
                    >
                      <span class="block">{{ hotel.title }}</span>
                      <span
                        class="block text-gray-500"
                        v-for="(subTitle, index) in hotel.subtitles"
                        >{{ subTitle }}</span
                      >
                      <a
                        class="text-blue-500 hover:text-blue-600"
                        :href="hotel.link"
                        >{{ hotel.link }}</a
                      >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="py-2 px-4">İki Kişilik Odada Kişi Başı</td>
                    <td class="py-2 px-4">Tek Kişilik Oda Farkı</td>
                  </tr>
                  <tr>
                    <td class="py-4 px-4">{{ hotel.double_room_price }}</td>
                    <td class="py-4 px-4">{{ hotel.single_room_price }}</td>
                  </tr>
                </tbody>
              </table>
            </template>
          </div>

          <div class="overflow-x-auto">
            <table
              class="hidden md:block table-fixed border-table text-center w-full md:w-4/5 mt-10 font-bold"
              v-if="selectedTour.flight_infos?.row1 && selectedTour.flight_infos?.row2"
            >
              <tbody>
                <tr>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row1.flight_no }}
                  </td>
                  <td class="py-2 px-4">
                    <img
                      class="airline_img"
                      v-if="selectedTour.flight_infos.row1.airline === 'THY'"
                      src="assets/img/balkans_icon/thy.png"
                    />
                    <img
                      class="airline_img"
                      v-else
                      src="assets/img/balkans_icon/pgss.png"
                    />
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row1.airport_1 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row1.airport_2 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row1.time_1 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row1.time_2 }}
                  </td>
                </tr>
                <tr>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row2.flight_no }}
                  </td>
                  <td class="py-2 px-4">
                    <img
                      class="airline_img"
                      v-if="selectedTour.flight_infos.row1.airline === 'THY'"
                      src="assets/img/balkans_icon/thy.png"
                    />
                    <img
                      class="airline_img"
                      v-else
                      src="assets/img/balkans_icon/pgss.png"
                    />
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row2.airport_1 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row2.airport_2 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row2.time_1 }}
                  </td>
                  <td class="py-2 px-4">
                    {{ selectedTour.flight_infos.row2.time_2 }}
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              class="md:hidden table-fixed border-table text-center w-full md:w-3/4 mt-10 font-bold"
              v-if="selectedTour.flight_infos?.row1 && selectedTour.flight_infos?.row2"
            >
              <tbody>
                <tr>
                  <td colspan="4">
                    {{ selectedTour.flight_infos.row1.flight_no }}
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <img
                      class="airline_img"
                      v-if="selectedTour.flight_infos.row1.airline === 'THY'"
                      src="assets/img/balkans_icon/thy.png"
                    />
                    <img
                      class="airline_img"
                      v-else
                      src="assets/img/balkans_icon/pgss.png"
                    />
                  </td>
                </tr>
                <tr class="font-normal text-sm">
                  <td>
                    {{ selectedTour.flight_infos.row1.airport_1 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row1.airport_2 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row1.time_1 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row1.time_2 }}
                  </td>
                </tr>
                <tr class="bg-balkanGreen">
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4">
                    {{ selectedTour.flight_infos.row2.flight_no }}
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <img
                      class="airline_img"
                      v-if="selectedTour.flight_infos.row1.airline === 'THY'"
                      src="assets/img/balkans_icon/thy.png"
                    />
                    <img
                      class="airline_img"
                      v-else
                      src="assets/img/balkans_icon/pgss.png"
                    />
                  </td>
                </tr>
                <tr class="font-normal text-sm">
                  <td>
                    {{ selectedTour.flight_infos.row2.airport_1 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row2.airport_2 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row2.time_1 }}
                  </td>
                  <td>
                    {{ selectedTour.flight_infos.row2.time_2 }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <template
            v-if="selectedTour.important_infos && selectedTour.important_infos.length"
          >
            <h4 class="font-bold text-4xl mt-8">Önemli Bilgilendirme</h4>
            <ul class="list-inside list-disc ml-1">
              <li
                v-for="(info, index) in selectedTour.important_infos"
                :key="index"
              >
                {{ info }}
              </li>
            </ul>
          </template>

          <template
            v-if="selectedTour.extra_infos && selectedTour.extra_infos.length"
          >
            <h4 class="font-bold text-4xl mt-8">Ekstra Tur Bilgileri</h4>
            <ul class="list-inside ml-1 mb-20 list-none">
              <li
                v-for="(item, index) in selectedTour.extra_infos"
                :key="index"
              >
                <h4 class="font-bold text-balkanGreen my-4">
                  {{ item.title }}
                </h4>
                {{ item.description }}
              </li>
            </ul>
          </template>

          <template
            v-if="selectedTour.covid_preventions && selectedTour.covid_preventions.length"
          >
            <h4 class="font-bold text-4xl mt-8">COVID-19 Önlemlerimiz</h4>
            <ul class="list-inside list-disc ml-1 mb-20">
              <li
                v-for="(item, index) in selectedTour.covid_preventions"
                :key="index"
              >
                {{ item }}
              </li>
            </ul>
          </template>

          <!-- TO DO button click => mailto and title 'll be selected tour title '-->
          <div class="flex justify-center w-full my-6">
            <a
              class="transition duration-500 ease-in-out hover:bg-green-700 transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-balkanGreen"
              data-micromodal-trigger="modal-2"
            >
              Bilgi Al
            </a>
          </div>
        </div>
      </div>

      <%- include('../../views/mail-modal') %>
    </main>
  </body>
</html>
