<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/venntourlogo.png"
      type="image/x-icon"
    />
    <title>DMC Tours</title>
  </head>

  <body>
    <%- include('../../views/header_sub'); %>
    <main id="app">
      <div>
        <div class="relative bg-cover bg-center bg-no-repeat bg-dmc">
          <div class="absolute bottom-6 flex justify-center w-full">
            <a
              href="mailto:info@dmc.com"
              class="transition duration-500 ease-in-out transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-dmcBlue"
            >
              Information
            </a>
          </div>
        </div>
      </div>

      <div class="container mx-auto mt-12 mb-12">
        <div class="grid gap-6 md:gap-10 grid-cols-2 md:grid-cols-5">
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/daily-tours.png"
              alt="Daily Tours"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Daily Tours
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/package-tours.png"
              alt="Package Tours"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Package Tours
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/customized-tours.png"
              alt="Customized Tours"
            />
            <h3
              class="font-semibold text-icon xl:whitespace-nowrap mt-5 text-center"
            >
              Customized Tours
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/private-services.png"
              alt="Private Services"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Private Services
            </h3>
          </div>
          <div class="flex flex-col items-center">
            <img
              class="icon-bg"
              src="assets/img/transportation.png"
              alt="Transportation"
            />
            <h3 class="font-semibold text-icon mt-5 text-center">
              Transportation
            </h3>
          </div>
        </div>
      </div>

      <div class="pt-10 pb-20 flex items-center justify-center">
        <img class="w-42" src="assets/img/page_names/venn_tour_dmc.png" id="_detail_start"/>
      </div>

      <div class="container mx-auto tour-detail">
        <div
          class="hidden md:block"
          :class="{ open: showDrawer }"
          id="left-scroll-div"
        >
          <a
            class="tour-card flex rounded-lg border- border-gray-200"
            v-for="(tour, index) in tourData"
            :key="index"
            :data-key="index"
            @click="selectTour(index)"
            href="#_detail_start"
          >
            <img
              class="w-full object-cover h-32"
              :src="'assets/img/tour-details/dmc-tour-images/' + index + '.png'"
            />
            <div class="p-2 flex flex-col justify-between">
              <h3 class="text-lg md:text-xl font-bold capitalize">
                {{ tour.mainTitle }}
              </h3>
              <div>
                <h4
                  class="text-sm md:text-base font-bold text-dmcBlue uppercase"
                >
                  {{ tour.subTitle }}
                </h4>
                <p
                  class="text-sm md:text-base"
                  style="text-align: left !important"
                >
                  {{ tour.tldr }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- Mobile -->
        <div class="md:hidden fixed bottom-5 right-5">
          <button
            @click="toggleDrawer"
            class="transition duration-500 ease-in-out bg-dmcBlue text-white font-semibold py-3 px-6 rounded-full"
          >
            {{ showDrawer ? "Close" : "Other Tours" }}
          </button>
        </div>

        <div>
          <h1 class="font-bold text-3xl lg:text-5xl mb-4 capitalize">
            {{ selectedTour.mainTitle }}
          </h1>
          <h4 class="font-bold text-3xl text-dmcBlue mb-8">
            {{ selectedTour.subTitle }}
          </h4>
          <div
            v-if="selectedTour.days.length"
            v-for="(day, index) in selectedTour.days"
            :key="index"
          >
            <h2 class="font-bold text-3xl">{{ day.title }}</h2>
            <h4 class="font-bold text-dmcBlue uppercase">
              {{ day.subTitle }}
            </h4>
            <p class="my-2" v-for="(txt, index) in day.text" :v-key="index">
              {{ txt }}
            </p>
          </div>

          <!-- TO DO button click => mailto and title 'll be selected tour title '-->
          <div class="flex justify-center w-full my-6">
            <a
              href="mailto:info@dmc.com?subject=Selected Tour Title"
              class="transition duration-500 ease-in-out transform hover:scale-105 text-white font-semibold py-3 px-6 rounded-full bg-dmcBlue"
            >
              Information
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
